.recent-posts-section {
  width: 76vw;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  padding: 14vh 12vw;
  align-items: center;
  justify-content: flex-start;
}

.recent-posts-section h3 {
  margin-top: 12px;
}

.blogpost {
  margin: 12px;
  margin-bottom: 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.blogpost-date {
  font-size: 76%;
  color: gray;
  margin-top: 0;
}

.recent-blogpost h5 {
  margin-top: 0;
  margin-bottom: 6px;
}

.blogpost h5 {
  margin-bottom: 0;
}