.recent-posts-section {
  width: 76vw;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  padding: 6vh 12vw;
  align-items: center;
  justify-content: flex-start;
}

.recent-posts-section h3 {
  margin-top: 12px;
}

.blogpost {
  margin-bottom: 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.blogpost-date {
  font-size: 76%;
  color: gray;
  margin-top: 0;
}

.recent-blogpost h5 {
  margin-top: 0;
  margin-bottom: 6px;
}

.blogpost h5 {
  margin-bottom: 0;
}

.allblogposts {
  width: 76vw;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  padding: 6vh 12vw;
  align-items: center;
  justify-content: flex-start;
}

.allblogposts h4 {
  margin-bottom: 16px;
}

.allblogposts-box {
  margin-top: 22px;
}

.blogpost-small {
  width: 74vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  cursor: pointer;
  margin-bottom: 12px;
  gap: 4vw;
  border-bottom: solid rgba(128, 128, 128, 0.1) 1px;
}

.blogpost-small .icon {
  height: 36px;
  width: 36px;
}

.blogpost-small h5 {
  margin: 0;
  font-size: 1rem;
}

search input {
  padding: 12px;
  border-radius: 24px;
  width: 58vw;
  border: solid rgba(128, 128, 128, 0.1) 1px;
  z-index: 1;
}

search input:focus {
  border: solid var(--secondary) 1px;
}

search button {
  position: absolute;
  margin-left: -38px;
  margin-top: 12px;
  background-color: white;
  border: none;
  z-index: 2;
}

search img {
  height: 16px;
}